/* body {
  background-image: url(money-dollars-transparent-image-24.png);
  background-size: cover;
} */
* {
  text-align: right;
}
h2,
p {
  color: rgb(0, 176, 170);
  text-align: center;
  border: 5px dashed #aa4139;
  cursor: pointer;
}
img {
  float: left;
}
footer {
  text-align: center;
}
p {
  color: black;
  font-family: "Train One", cursive;
}

li {
  list-style: none;
  display: inline-block;
}

.webtext {
  clear: both;
  border: 5px dashed green;
  color: red;
  text-align: left;
}

.active {
  color: red;
}

#div1 {
  background: rgba(0, 0, 255, 0.2);
}

#div2 {
  background: rgba(255, 0, 0, 0.2);
}
